Final Model - Restructured

In [1]:
import pandas as pd
import numpy as np
from unidecode import unidecode

In [ ]:
import os

root_dir = os.path.abspath(os.path.join(os.path.dirname(__file__), '..'))

data_folder = os.path.join(root_dir, 'csv_files')

data_files = [f for f in os.listdir(data_folder) if f.endswith(('.csv', '.xlsx'))]

dfs = {}
for file in data_files:
    file_path = os.path.join(data_folder, file)
    if file.endswith('.csv'):
        dfs[file] = pd.read_csv(file_path)
    elif file.endswith('.xlsx'):
        dfs[file] = pd.read_excel(file_path, engine='openpyxl')

In [ ]:
df01 = dfs('NHL_Final-01.csv')
df02 = dfs('NHL_Final-02.csv')

In [3]:
df02 = df02.drop(columns = ['GP', 'Pos', 'TK', 'GV', '-9999'])
df02.head()

,Player,CF,CA,CF%,CF% rel,FF,FA,FF%,FF% rel,oiSH%,oiSV%,PDO,oZS%,dZS%,TOI/60,TOI(EV),E+/-,SAtt.,Thru%
0,Wyatt Aamodt,23,37,38.3,-15.0,18,21,46.2,-10.3,10.0,100.0,110.0,20.0,80.0,17:07,16:16,0.1,6,50.0
1,Rodrigo Abols,191,199,49.0,0.3,137,135,50.4,0.3,8.3,84.7,93.0,61.2,38.8,9:11,9:09,-1.4,48,52.1
2,Noel Acciari,729,957,43.2,-8.9,506,658,43.5,-7.6,6.8,88.6,95.4,20.3,79.7,13:46,11:20,-11.9,151,49.7
3,Jack Ahcan,30,32,48.4,-0.9,22,19,53.7,0.1,11.1,93.3,104.4,26.7,73.3,15:48,14:40,0.2,3,33.3
4,Sebastian Aho,1519,968,61.1,2.8,1094,721,60.3,3.3,10.8,85.8,96.7,63.8,36.2,20:06,14:49,9.1,447,46.3

In [4]:
df01['Player'] = df01['Player'].apply(unidecode).str.lower().str.strip()
df02 ['Player'] = df02['Player'].apply(unidecode).str.lower().str.strip()
df03 = pd.merge (df01, df02, how = 'left', on='Player')

In [5]:
df03 = df03.drop(df03[df03['GP'] <= 41].index).reset_index(drop = True)

df03 = df03.replace({'RW': 'F', 'LW': 'F', 'C': 'F'})

df03 = df03.drop (df03[df03['Pos'] == 'G'].index).reset_index(drop = True)

df03 = df03.replace({'--': 0})

df03 = df03.fillna(0)

In [6]:
df03.head()

,Player,Age,Pos,GP,G,A,PTS,+/-,PIM,EVG,...,oiSH%,oiSV%,PDO,oZS%,dZS%,TOI/60,TOI(EV),E+/-,SAtt.,Thru%
0,nikita kucherov,31.0,F,78,37,84,121,22,45,29,...,13.7,90.1,103.9,59.6,40.4,21:11,17:21,16.3,550.0,48.2
1,nathan mackinnon,29.0,F,79,32,84,116,25,41,23,...,11.0,88.9,99.9,63.8,36.2,22:47,18:54,35.1,590.0,54.2
2,leon draisaitl,29.0,F,71,52,54,106,32,34,36,...,10.7,89.9,100.7,60.6,39.4,21:31,18:11,27.3,417.0,57.8
3,david pastrnak,28.0,F,82,43,63,106,0,42,34,...,13.3,87.3,100.5,68.8,31.2,20:11,16:42,1.0,624.0,51.1
4,mitch marner,27.0,F,81,27,75,102,18,14,20,...,13.1,89.9,103.1,48.6,51.4,21:19,16:11,11.6,393.0,44.0

In [7]:
df_final = df03.copy()
df_final.head()
df_final = df_final.drop(columns = ['TOI/60'])

In [8]:
df_final ['TOI(EV)'] = pd.to_timedelta('00:' + df_final['TOI(EV)'].astype(str)).dt.total_seconds()/60

In [9]:
df_final = df_final.fillna(0)
df_final = df_final.replace({'--': 0})
df_final = df_final.drop(columns = ['Age', 'Pos'])

In [10]:
df_final.head()

,Player,GP,G,A,PTS,+/-,PIM,EVG,PPG,SHG,...,FF% rel,oiSH%,oiSV%,PDO,oZS%,dZS%,TOI(EV),E+/-,SAtt.,Thru%
0,nikita kucherov,78,37,84,121,22,45,29,8,0,...,3.8,13.7,90.1,103.9,59.6,40.4,17.350000,16.3,550.0,48.2
1,nathan mackinnon,79,32,84,116,25,41,23,9,0,...,7.8,11.0,88.9,99.9,63.8,36.2,18.900000,35.1,590.0,54.2
2,leon draisaitl,71,52,54,106,32,34,36,16,0,...,7.8,10.7,89.9,100.7,60.6,39.4,18.183333,27.3,417.0,57.8
3,david pastrnak,82,43,63,106,0,42,34,9,0,...,6.2,13.3,87.3,100.5,68.8,31.2,16.700000,1.0,624.0,51.1
4,mitch marner,81,27,75,102,18,14,20,6,1,...,3.0,13.1,89.9,103.1,48.6,51.4,16.183333,11.6,393.0,44.0

In [ ]:
df1 = dfs("NHL_STATS01.xlsx")
df2 = dfs("NHL_STATS02.xlsx")
df3 = dfs("NHL_STATS03.xlsx")
df4 = dfs("NHL_STATS04.xlsx")
df5 = dfs("NHL_STATS05.xlsx")
df6 = dfs("NHL_STATS06.xlsx")
df7 = dfs("NHL_STATS07.xlsx")
df8 = dfs("NHL_STATS08.xlsx")
df9 = dfs("NHL_STATS09.xlsx")
df10 = dfs("NHL_STATS10.xlsx")

df = pd.concat([df1,df2, df3, df4, df5, df6, df7, df8, df9, df10], ignore_index = True)

In [12]:
df.head()
df_time = df[['Player', 'TOI/GP']]

In [13]:
df_time.head()

             Player TOI/GP
0   Nikita Kucherov  21:11
1  Nathan MacKinnon  22:47
2    Leon Draisaitl  21:31
3    David Pastrnak  20:11
4   Mitchell Marner  21:19

In [14]:
df_time ['TOI/GP'] = pd.to_timedelta('00:' + df_time['TOI/GP'].astype(str)).dt.total_seconds()/60

C:\Users\huzay\AppData\Local\Temp\ipykernel_528\1213958053.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_time ['TOI/GP'] = pd.to_timedelta('00:' + df_time['TOI/GP'].astype(str)).dt.total_seconds()/60

In [15]:
df_time['Player'] = df_time['Player'].apply(unidecode).str.lower().str.strip()

C:\Users\huzay\AppData\Local\Temp\ipykernel_528\2280455589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_time['Player'] = df_time['Player'].apply(unidecode).str.lower().str.strip()

In [16]:
nhl_df = pd.merge(df_final, df_time, how = 'left', on = 'Player')

In [17]:
nhl_df.loc[nhl_df['Player'] == 'mitch marner', 'TOI/GP'] = 21.3167
nhl_df.loc[nhl_df['Player'] == 'jj peterka', 'TOI/GP'] = 18.1833
nhl_df.loc[nhl_df['Player'] == 'matthew coronato', 'TOI/GP'] = 17.5833
nhl_df.loc[nhl_df['Player'] == 'william cuylle', 'TOI/GP'] = 15.0833
nhl_df.loc[nhl_df['Player'] == 'michael anderson', 'TOI/GP'] = 22.6667
nhl_df.loc[nhl_df['Player'] == 'jacob middleton', 'TOI/GP'] = 21.8667
nhl_df.loc[nhl_df['Player'] == 'pat maroon', 'TOI/GP'] = 11.5333
nhl_df.loc[nhl_df['Player'] == 'emil martinsen lilleberg', 'TOI/GP'] = 15.2833
nhl_df.loc[nhl_df['Player'] == 'nicklaus perbix', 'TOI/GP'] = 14.6833
nhl_df.loc[nhl_df['Player'] == 'cameron york', 'TOI/GP'] = 20.7833
nhl_df.loc[nhl_df['Player'] == 'joe veleno', 'TOI/GP'] = 12.1167
nhl_df.loc[nhl_df['Player'] == 'william borgen', 'TOI/GP'] = 17.0833
nhl_df.loc[nhl_df['Player'] == 'zachary jones', 'TOI/GP'] = 17.25
nhl_df.loc[nhl_df['Player'] == 't.j. brodie', 'TOI/GP'] = 15.6333
nhl_df.loc[nhl_df['Player'] == 'jonathon merrill', 'TOI/GP'] = 14.10
nhl_df.loc[nhl_df['Player'] == 'pierre-olivier joseph', 'TOI/GP'] = 15.2667

In [18]:
nhl_df = nhl_df.drop (columns = 'SAtt.')
nhl_df.head()

,Player,GP,G,A,PTS,+/-,PIM,EVG,PPG,SHG,...,FF% rel,oiSH%,oiSV%,PDO,oZS%,dZS%,TOI(EV),E+/-,Thru%,TOI/GP
0,nikita kucherov,78,37,84,121,22,45,29,8,0,...,3.8,13.7,90.1,103.9,59.6,40.4,17.350000,16.3,48.2,21.183333
1,nathan mackinnon,79,32,84,116,25,41,23,9,0,...,7.8,11.0,88.9,99.9,63.8,36.2,18.900000,35.1,54.2,22.783333
2,leon draisaitl,71,52,54,106,32,34,36,16,0,...,7.8,10.7,89.9,100.7,60.6,39.4,18.183333,27.3,57.8,21.516667
3,david pastrnak,82,43,63,106,0,42,34,9,0,...,6.2,13.3,87.3,100.5,68.8,31.2,16.700000,1.0,51.1,20.183333
4,mitch marner,81,27,75,102,18,14,20,6,1,...,3.0,13.1,89.9,103.1,48.6,51.4,16.183333,11.6,44.0,21.316700

In [19]:
per_60_TOT = ['G', 'A', 'PTS', 'PIM', 'GWG', 'SOG', 'TSA', 'FOW', 'FOL', 'BLK', 'HIT', 'TAKE', 'GIVE']

for item in per_60_TOT:
    nhl_df[item] = (nhl_df[item] / (nhl_df['TOI/GP'] * nhl_df['GP']) * 60).round(5)
    nhl_df = nhl_df.rename(columns = {item: item + '/60'})


per_60_EV = ['EVG', 'EV', 'CF', 'CA', 'FF', 'FA']

for item in per_60_EV:
    nhl_df[item] = (nhl_df[item] / (nhl_df['TOI(EV)'] * nhl_df['GP']) * 60).round(5)
    nhl_df = nhl_df.rename(columns = {item: item + '/60'})

per_game = ['PPG', 'SHG', 'PP', 'SH']

for item in per_game:
    nhl_df[item] = (nhl_df[item] / nhl_df['GP']).round(5)
    nhl_df = nhl_df.rename(columns = {item: item + '/GP'})

In [20]:
nhl_df = nhl_df.drop(columns = ['GP', 'ATOI', 'TOI(EV)', 'TOI/GP'])
nhl_df.head()

,Player,G/60,A/60,PTS/60,+/-,PIM/60,EVG/60,PPG/GP,SHG/GP,GWG/60,...,FA/60,FF%,FF% rel,oiSH%,oiSV%,PDO,oZS%,dZS%,E+/-,Thru%
0,nikita kucherov,1.34358,3.05029,4.39388,22,1.63409,1.28575,0.10256,0.00000,0.32682,...,43.36067,53.0,3.8,13.7,90.1,103.9,59.6,40.4,16.3,48.2
1,nathan mackinnon,1.06674,2.80018,3.86692,25,1.36676,0.92425,0.11392,0.00000,0.16668,...,37.85413,58.7,7.8,11.0,88.9,99.9,63.8,36.2,35.1,54.2
2,leon draisaitl,2.04231,2.12086,4.16317,32,1.33536,1.67310,0.22535,0.00000,0.43203,...,38.29540,59.0,7.8,10.7,89.9,100.7,60.6,39.4,27.3,57.8
3,david pastrnak,1.55888,2.28394,3.84282,0,1.52263,1.48970,0.10976,0.00000,0.14501,...,41.62407,51.7,6.2,13.3,87.3,100.5,68.8,31.2,1.0,51.1
4,mitch marner,0.93823,2.60620,3.54443,18,0.48649,0.91544,0.07407,0.01235,0.24325,...,44.12404,50.2,3.0,13.1,89.9,103.1,48.6,51.4,11.6,44.0

In [21]:
nhl_df01 = nhl_df.copy()

names_nhl = nhl_df01['Player']

nhl_df01 = nhl_df01.drop (columns = ['Player'])

In [22]:
salaries_df = pd.read_csv('salaries.csv')

salaries_df = salaries_df.drop(columns = ['0', '1', '2'])

salaries_df['Player'] = salaries_df['Player'].apply(unidecode).str.lower().str.strip()

names_df = pd.DataFrame({'Player' : names_nhl})

In [23]:
names_df = pd.merge(names_df, salaries_df, how = 'left', on = 'Player')

In [24]:
names_df.loc[names_df['Player'] == 'mitch marner', 'Salary'] = 10.903
names_df.loc[names_df['Player'] == 'jj peterka', 'Salary'] = 0.855834
names_df.loc[names_df['Player'] == 'matthew coronato', 'Salary'] = 0.925 
names_df.loc[names_df['Player'] == 'william cuylle', 'Salary'] = 0.828333
names_df.loc[names_df['Player'] == 'zachary bolduc', 'Salary'] = 0.863334
names_df.loc[names_df['Player'] == 'michael anderson', 'Salary'] = 4.125
names_df.loc[names_df['Player'] == 'emil martinsen lilleberg', 'Salary'] = 0.87
names_df.loc[names_df['Player'] == 'chris tanev', 'Salary'] = 4.5
names_df.loc[names_df['Player'] == 'alexey toropchenko', 'Salary'] = 1.25
names_df.loc[names_df['Player'] == 'fedor svechkov', 'Salary'] = 0.925
names_df.loc[names_df['Player'] == 'joe veleno', 'Salary'] = 0.9
names_df.loc[names_df['Player'] == 'egor zamula', 'Salary'] = 1.7
names_df.loc[names_df['Player'] == 'j.j. moser', 'Salary'] = 3.375
names_df.loc[names_df['Player'] == 'artem zub', 'Salary'] = 4.6
names_df.loc[names_df['Player'] == 't.j. brodie', 'Salary'] = 0.775
names_df.loc[names_df['Player'] == 'mathew dumba', 'Salary'] = 3.75
names_df.loc[names_df['Player'] == 'marc del gaizo', 'Salary'] = 0.775
names_df.loc[names_df['Player'] == 'emil andrae', 'Salary'] = 0.903
names_df.loc[names_df['Player'] == 'jonathon merrill', 'Salary'] = 1.2
names_df.loc[names_df['Player'] == 'devin shore', 'Salary'] = 0.775
names_df.loc[names_df['Player'] == 'zack ostapchuk', 'Salary'] = 0.825
names_df.loc[names_df['Player'] == 'matty beniers', 'Salary'] = 7.142857
names_df.loc[names_df['Player'] == 'oliver wahlstrom', 'Salary'] = 1.0

In [25]:
names_df.head()

             Player  Salary
0   nikita kucherov   9.500
1  nathan mackinnon  12.600
2    leon draisaitl   8.500
3    david pastrnak  11.250
4      mitch marner  10.903

In [26]:
from sklearn.preprocessing import StandardScaler

scale = StandardScaler()

nhl_scaled = scale.fit_transform(nhl_df01)

In [27]:
from sklearn.neighbors import NearestNeighbors

sim_players = NearestNeighbors(n_neighbors = 550).fit(nhl_scaled)

In [28]:
sample = 'charlie coyle'
index_pos = names_df.index.get_loc(names_df[names_df['Player'] == sample].index[0])
print (index_pos)

241

In [29]:
result_comp = sim_players.kneighbors([nhl_scaled[241]])

In [30]:
print(names_df['Salary'].loc[185])

6.0

In [31]:
print(result_comp)

(array([[ 0.        ,  4.35769553,  4.72996267,  5.08349219,  5.12981758,
         5.23865099,  5.35790137,  5.44198722,  5.53355458,  5.53690557,
         5.57862974,  5.57917068,  5.60925424,  5.66961908,  5.6780027 ,
         5.68799195,  5.69123854,  5.78635639,  5.81179635,  5.81740418,
         5.88970887,  5.91386535,  5.94245679,  5.99112876,  5.99388346,
         5.99523703,  6.00367612,  6.04233449,  6.08740897,  6.12707514,
         6.14282762,  6.19079225,  6.20717004,  6.24603051,  6.28012167,
         6.29480934,  6.31100582,  6.3228486 ,  6.36261668,  6.3704732 ,
         6.37397932,  6.39478351,  6.41028302,  6.41658562,  6.42291996,
         6.45230523,  6.46539565,  6.4893434 ,  6.51072621,  6.51701583,
         6.53274228,  6.53426141,  6.53891097,  6.54446822,  6.54665771,
         6.55544572,  6.56813724,  6.58376954,  6.59772639,  6.63078607,
         6.65154733,  6.68312026,  6.69836646,  6.73425777,  6.74348381,
         6.75021967,  6.75602411,  6.77634632,  6.78263136,  6.83519543,
         6.83719148,  6.84694034,  6.85568546,  6.87406758,  6.87953317,
         6.88354625,  6.89386983,  6.89618038,  6.91103981,  6.92471999,
         6.93310386,  6.93346534,  6.93817643,  6.95882302,  6.99049371,
         7.01470591,  7.02913068,  7.03876549,  7.07696227,  7.09894666,
         7.10518712,  7.10790794,  7.12243867,  7.12739399,  7.12937853,
         7.15366002,  7.16656732,  7.17283089,  7.19581751,  7.23956281,
         7.24344031,  7.24700088,  7.25758245,  7.2656391 ,  7.26712363,
         7.27054956,  7.30867251,  7.31529983,  7.32667109,  7.3272547 ,
         7.33403254,  7.34104162,  7.35255997,  7.36943403,  7.37299396,
         7.37590106,  7.37931768,  7.40233497,  7.40391033,  7.43995463,
         7.44505887,  7.45788568,  7.46730104,  7.48706791,  7.49130667,
         7.49243101,  7.49683522,  7.50985875,  7.52066706,  7.57486708,
         7.57839401,  7.59002681,  7.60866593,  7.61016883,  7.61710428,
         7.61776737,  7.61809647,  7.64401997,  7.64717948,  7.64751325,
         7.66905086,  7.67204956,  7.67319966,  7.67335661,  7.68205732,
         7.68658167,  7.69141274,  7.69222242,  7.6969182 ,  7.71190193,
         7.74185402,  7.74626851,  7.74928256,  7.7514678 ,  7.75826767,
         7.76523912,  7.76591083,  7.77306598,  7.78110825,  7.80145894,
         7.80667442,  7.81247011,  7.81917502,  7.82578361,  7.84521567,
         7.85381364,  7.87845847,  7.88589305,  7.89818728,  7.89938005,
         7.9051911 ,  7.90538042,  7.90876347,  7.91184796,  7.91685047,
         7.92719525,  7.93168302,  7.93739755,  7.94502985,  7.95904558,
         7.96273819,  7.97868998,  7.97945143,  7.98210375,  7.98441024,
         7.99223189,  7.99487343,  8.02136745,  8.02174984,  8.02715124,
         8.03653303,  8.04084968,  8.04705065,  8.04845952,  8.04946086,
         8.05511919,  8.05769533,  8.08633863,  8.09105502,  8.09717978,
         8.10061391,  8.10560541,  8.14237142,  8.15501307,  8.16084311,
         8.16776221,  8.16776348,  8.17084203,  8.17749235,  8.17855411,
         8.17901967,  8.18420678,  8.18567947,  8.19616455,  8.19736806,
         8.19946103,  8.20088867,  8.20534432,  8.20850012,  8.22198703,
         8.23091264,  8.25360739,  8.27225936,  8.29832619,  8.30352252,
         8.31399109,  8.31658155,  8.31823411,  8.32398705,  8.32546598,
         8.33041291,  8.33123074,  8.33479783,  8.34156498,  8.34433899,
         8.35808804,  8.35882743,  8.35959744,  8.3774084 ,  8.38622324,
         8.38739945,  8.38870498,  8.397432  ,  8.39791479,  8.39958874,
         8.40037605,  8.40821013,  8.40990316,  8.41067263,  8.41098865,
         8.42301327,  8.42736071,  8.43687611,  8.4491375 ,  8.44943427,
         8.45548336,  8.46201072,  8.46506653,  8.47029096,  8.47355405,
         8.47412838,  8.47598168,  8.48600289,  8.49258746,  8.49749546,
         8.49932199,  8.50936037,  8.5130561 ,  8.51446844,  8.53899409,
         8.5438063 ,  8.54961258,  8.5535831 ,  8.55375852,  8.5565635 ,
         8.56377552,  8.56710498,  8.5804253 ,  8.5880821 ,  8.58838977,
         8.5891716 ,  8.59223414,  8.59471944,  8.59818706,  8.60141292,
         8.60780116,  8.60972947,  8.62332881,  8.62869063,  8.64257416,
         8.65038354,  8.65110355,  8.65845287,  8.65900653,  8.66007076,
         8.66122041,  8.66659024,  8.67069784,  8.67107379,  8.67212719,
         8.68203715,  8.69731108,  8.70392615,  8.70623855,  8.710186  ,
         8.71932344,  8.72243373,  8.72735401,  8.73202557,  8.73374089,
         8.73774136,  8.74611446,  8.74751494,  8.75269253,  8.75611812,
         8.77749619,  8.7846153 ,  8.79303988,  8.79356066,  8.79400361,
         8.79492441,  8.79556408,  8.79838297,  8.80745928,  8.81253483,
         8.81481977,  8.82261213,  8.82305609,  8.83291764,  8.85059545,
         8.85081335,  8.85198837,  8.85254688,  8.85823851,  8.85957017,
         8.86557451,  8.86688926,  8.87554055,  8.88634752,  8.88875946,
         8.89315   ,  8.90160307,  8.90384393,  8.90887379,  8.91650222,
         8.92547882,  8.93972282,  8.94891806,  8.95465277,  8.95816681,
         8.95956794,  8.9596259 ,  8.96166784,  8.96179166,  8.96697967,
         8.97293416,  8.99169928,  8.99860986,  9.00519117,  9.00689417,
         9.01080778,  9.01778737,  9.02827455,  9.0397403 ,  9.05716012,
         9.05886911,  9.06468147,  9.08456365,  9.08575615,  9.09264298,
         9.10776585,  9.10896333,  9.11711088,  9.13391566,  9.1348087 ,
         9.15125744,  9.15454372,  9.15564899,  9.16093446,  9.16368633,
         9.16951497,  9.16963201,  9.17433607,  9.17647552,  9.19669426,
         9.20565238,  9.21390065,  9.21391904,  9.21446119,  9.21779968,
         9.22844283,  9.24198866,  9.24739902,  9.25321493,  9.25572688,
         9.25583249,  9.25644864,  9.25770676,  9.27070038,  9.27631452,
         9.28128985,  9.28458235,  9.28825864,  9.29848678,  9.30036776,
         9.3008712 ,  9.31089907,  9.31210194,  9.33894986,  9.34140411,
         9.34350394,  9.35006332,  9.35285583,  9.35367634,  9.36314687,
         9.37122718,  9.37881898,  9.38499499,  9.40508758,  9.41284802,
         9.41306452,  9.42480397,  9.44094525,  9.4508255 ,  9.45358293,
         9.4546177 ,  9.45966773,  9.46382163,  9.47556027,  9.47653463,
         9.47708508,  9.47861865,  9.48346603,  9.48620651,  9.49016295,
         9.49115176,  9.49423139,  9.49853408,  9.50107779,  9.51125214,
         9.51514714,  9.52528483,  9.5481487 ,  9.55156997,  9.56363089,
         9.56622887,  9.57149717,  9.5762794 ,  9.57646128,  9.57895279,
         9.58169759,  9.61179923,  9.62450224,  9.62509893,  9.63022363,
         9.64378289,  9.64586057,  9.64909757,  9.64910474,  9.65220107,
         9.6543849 ,  9.66217261,  9.66359704,  9.67708806,  9.68572384,
         9.69368514,  9.71008021,  9.71067437,  9.73477424,  9.73732781,
         9.74161706,  9.74824023,  9.76521585,  9.7686664 ,  9.78389076,
         9.79119205,  9.81174644,  9.81851389,  9.8239299 ,  9.82438216,
         9.82882232,  9.83428645,  9.84981437,  9.85664269,  9.85944166,
         9.86565141,  9.8722113 ,  9.87854498,  9.87870591,  9.88322492,
         9.88667652,  9.89642028,  9.9051205 ,  9.90830794,  9.91837583,
         9.91982883,  9.940731  ,  9.94490392,  9.95968248,  9.96321938,
         9.96396422,  9.96554018,  9.97815986,  9.98908455, 10.00445738,
        10.0116146 , 10.01524317, 10.01589203, 10.02820179, 10.03136731,
        10.04034133, 10.09122574, 10.10725957, 10.12728457, 10.13128254,
        10.14437341, 10.15370435, 10.16846424, 10.17203544, 10.17285371,
        10.20691072, 10.24136155, 10.24602751, 10.24777656, 10.25363683,
        10.27068044, 10.31057804, 10.31513673, 10.33075229, 10.35828664,
        10.36334309, 10.37876935, 10.38322883, 10.38633948, 10.41825959,
        10.42890499, 10.43434034, 10.4643496 , 10.48767662, 10.53915013,
        10.53924847, 10.56466082, 10.60136416, 10.60955897, 10.61285414,
        10.68125831, 10.68917542, 10.69091928, 10.72023471, 10.74967724]]), array([[241, 185, 214, 220, 180, 260, 140, 413, 192, 277, 217, 174, 335,
        313, 151,  58, 153, 131, 360, 276, 318, 395, 498, 237, 315, 446,
        296, 326, 225, 247, 280, 219, 378, 384, 439, 104, 362, 320, 227,
        344, 474, 381, 366, 307, 175, 504, 155, 487, 110, 216, 559, 412,
         84, 538, 283, 391, 456, 407, 319,  55, 408, 437, 229, 187, 105,
        172, 200, 343, 352, 161,  91, 132, 127, 422,  61, 281, 210, 226,
         95, 273, 387, 399, 158,  93, 379, 101, 361, 239, 353, 139, 199,
        404, 322, 440,  49, 162, 204, 257, 218, 228, 309, 173, 398, 177,
        251, 329, 118, 246, 323, 242, 156, 294, 374, 330, 233, 550, 306,
        414, 345, 457, 298, 382, 145, 303, 565,  80, 193,  85, 271, 147,
        426, 133, 212, 235,  65, 339, 471, 389,  89, 316, 269, 261, 236,
        179, 144, 334, 188, 332, 149, 563, 279,  19, 472, 299, 539, 240,
        152, 325, 328, 348, 359, 208, 518, 461, 444,  35, 213, 372, 573,
        232, 234, 148, 337, 282, 402, 119, 420,  48, 176, 134, 465, 230,
        267, 268, 394, 108,  66, 102, 427, 122, 141, 195,  41,  74, 182,
        124, 327, 302, 142, 333, 308, 511, 419,  46, 542, 470, 475, 380,
        207, 304, 196, 272, 136, 286,  96, 106, 290, 189, 311, 292, 458,
         13, 123, 346,  68, 128, 525, 111, 126, 266, 367, 301, 116, 455,
        342,  37, 376, 473, 181, 349, 350,  71, 488, 163, 476, 438, 222,
        383, 224, 483, 469, 397, 373, 256, 264, 354, 138, 453, 364, 468,
        569, 287,  16, 493, 477, 184,  92, 478, 206, 295, 429, 508, 401,
        406,  94, 424, 530, 385,  36, 480, 541, 197,  27, 436, 112, 321,
         57, 168, 371, 255,  88, 154,  24, 275, 198,  50, 160, 548, 466,
        297, 265, 521, 254, 288, 386, 390, 351, 167, 248, 259, 435, 516,
        166, 447, 524, 244, 274, 400, 540, 365, 459, 507, 355, 171, 411,
        120,  77, 552, 375, 495, 486, 300, 317, 425, 410, 205, 223, 291,
        430, 243, 357, 202, 150, 517,  20, 405, 363, 463, 341, 377,  39,
        183, 418, 392, 305,   7, 494, 203,  76,  25, 445, 571,  42, 135,
        340,  10, 370, 338,  32, 356, 258, 130, 369,  79,  17, 331, 510,
        409, 549, 393,  22, 442, 159, 129, 186, 502, 194, 263,  34, 347,
        245, 485, 506,  59, 221, 432, 501, 558, 451,  45,  15,  87,  73,
         81,  97,  64, 434, 489, 529,  51, 580, 314, 285, 113, 449, 581,
        125, 574, 546, 336, 262, 454, 579, 544, 178, 278, 532, 250,  52,
        564,  90, 491, 588, 515, 545, 503, 560, 201, 592, 324, 310,  75,
        496, 547, 452, 526, 121, 462, 513, 514,  29, 169, 551, 482,  62,
        554, 520, 527, 415, 433, 497, 416, 368, 312, 190, 537, 464,  43,
        533, 523, 528, 388, 460, 448, 576, 231, 575, 423, 570,  26, 417,
        284, 441, 567, 484, 211, 577, 114,  98,   9, 238, 450,  21, 143,
        492, 505,  47,  60, 584,   4, 587, 535, 358, 582,  86,  67,  70,
        293, 479,  28, 512, 191, 490, 557, 421, 586,  53, 536, 509, 431,
         40, 443, 403, 500, 572, 146, 117, 585,  78, 109, 270, 566, 534,
        115, 561,   6,  69, 107,  72, 568, 100, 590, 531, 170,  82, 519,
        583, 499, 137, 289]]))

In [32]:
print (result_comp [1][0][1])

185

In [33]:
def comparables(comp_name, salary_max):

    #retrives position of comparison player in original array
    position = names_df.index.get_loc(names_df[names_df['Player'] == comp_name].index[0])

    #creates an array to score the most comparable players to the requested comparison
    comp_array = sim_players.kneighbors([nhl_scaled[position]])

    #variable assignment
    index = 1
    player_count = 0
    final_dict = {
        "name": [],
        "salary": [], 
        "similar_score": []
        }
    

    #for loop 
    for i in range(595): 

        #stores position of comparable
        pos_comp = comp_array[1][0][index]

        if names_df['Salary'].loc[pos_comp] <= salary_max:

            final_dict["name"].append(names_df['Player'].loc[pos_comp])
            final_dict["salary"].append(names_df['Salary'].loc[pos_comp].round(4))
            final_dict["similar_score"].append(comp_array[0][0][index].round(4))

            player_count += 1
            
        index += 1

        if player_count == 3:
            return final_dict

In [34]:
print (comparables ("brady tkachuk", 8))

{'name': ['sam bennett', 'pavel dorofeyev', 'kevin fiala'], 'salary': [np.float64(4.425), np.float64(1.835), np.float64(7.875)], 'similar_score': [np.float64(5.3201), np.float64(5.4997), np.float64(5.8061)]}